table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 2px solid #8e95c0;
  padding: 8px;
  color: #fff;
}

table tr {
  background-color: #5766b8;
}

table tr:nth-child(even) {
  background-color: #7280c2;
}

table tr:hover {
  background-color: #8991b9;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  /* text-align: center; */
  background-color: rgb(100 255 218);
}
